# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/components/navbar/navbar.css.map
src/components/sidebar/sidebar.min.css.map
src/components/sidebar/sidebar.min.css
src/css/home.css.map
src/css/home.min.css
src/css/home.min.css.map
src/css/list.css.map
src/css/list.min.css
src/css/list.min.css.map
src/css/login.css.map
src/css/login.min.css
src/css/login.min.css.map
src/css/new.css.map
src/css/new.min.css
src/css/new.min.css.map
src/components/navbar/navbar.min.css.map
src/components/navbar/navbar.min.css
src/components/sidebar/sidebar.css.map
